* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$size: 50vw;
@mixin geomSize {
    height: $size;
    min-width: $size;
}
body {
    width: 100vw;
    height: 100vh;
    // overflow: hidden;
    background: #212121;
    main {
        width: 150vw;
        height: 100vh;
        padding: 10vh 0;
        display: flex;
        .square {
            @include geomSize;
            border: solid 3px #fff2f1;
        }
        .circle {
            @include geomSize;
            border-radius: 50%;
            border: solid 3px #fff2f1;
        }
        .triangle {
            @include geomSize;
            background-color: red;
            clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
        }
    }
}