* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$size: 50vw;
@mixin geomSize {
    height: $size;
    min-width: $size;
    margin: auto 0;
}
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #212121;
    position: relative;
    main {
        width: 150vw;
        height: 100vh;
        padding: 10vh 0;
        position: absolute;
        left: -25vw;
        display: flex;
        .square {
            @include geomSize;
            background: #634B66;
        }
        .circle {
            @include geomSize;
            border-radius: 50%;
            background: #9590A8;
        }
        .triangle {
            @include geomSize;
            background: #BBCBCB;
            clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
        }
    }
}